
:root {
    --col-pri: #ffffff;
    --col-sec: #3f88bf;
    --col-ter: #c2c1c1;
    --col-cua: #000000;
    --col-gra: #e9e9e9;
    --col-select: #ff9300;
    --col-hover:#ff95008e;
    --col-ok: #aadaff7c;
    --col-err: #f20707;

    --menu-size: 6vh;
    --module-contend-height: 94vh;
    --module-contend-with: 100vw;
    --time-read-waiting:0s
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    list-style-type: none;

    /* no seleccionable */
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    font-family: Arvo;

}

svg.sprite-icons{
    display: none;
    position: absolute;
    width: 0; 
    height: 0; 
    overflow: hidden;
}

/* mensajes usuario */
.foka,
.ferr {
    border-width: 3px;
    border-style: solid;
}

.foka {
    border-color: var(--col-sec);
}

.ferr {
    border-color: var(--col-err);
}


picture[name*="logo"] {
    background-repeat: no-repeat;
    background-size: 350%;
}



picture[name="logo-module"] {
    filter: grayscale(100%) opacity(40%);
    padding: 9vh;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}
	/************ MOBILE ************/
	
		body {
			font-size: .8rem;
			/* background-color: rgb(255, 17, 0); */
			background-color: var(--col-ter);
			/* ESTO HACE QUE SE OCULTE LA BARRA DE DIRECCIONES */
			min-height: 100vh;
			
			/* overflow: hidden; */
			/* overflow-y: scroll; */
			/* overflow: scroll; */
			/* scroll-behavior: smooth; */

			/* background-color:grey; */
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			
		}
		body::before {
			background-size:10em;
			background-position:center center; 
			content: "";
			position: absolute;
			top: auto; 
			left: 50%;
			transform: translateX(-50%);
			right: 50%;
			/* bottom: 10em; */
			width: 10em; height: 10em;
			/* width: 30px; height: 30px; */
			background-image: url("logo.png");
			background-repeat: no-repeat;
			filter: grayscale(100%) opacity(30%);


		  }

		
		header {
			position: fixed;
			align-self: flex-end;
			bottom: 5px;
			margin-left: 5px;
		}

		a:link,
		a:visited {
			text-decoration: none;
			color: var(--col-cua);
		}
		
		
		
		/************ DESKTOP ************/
@media only screen and (min-width:600px)  {

			:root {
				--header-height: 5vh;
				--module-contend-height: 95vh;
				--menu-size: 5vw;
				--module-contend-with: 95vw;
			}
			
			
			body {
				overflow: hidden;
				background-color: var(--col-gra);
				font-size: 16px;
			
				height: var(--module-contend-height);
				
				/* padding: 0; */
				/* background-color: var(--col-gra); */
				display: grid;
				grid-template:
					"header         header" var(--header-height) 
					"module-content menu-container" var(--module-contend-height) / 
					var(--module-contend-with)var(--menu-size);
			}

			header,
			.menu-container {
				background-color: var(--col-gra);
			}

			header {
				
				align-self:unset;
				bottom:unset; 
				position: unset;

				margin-left: 0; 
				max-height: var(--header-height);

				/* height: var(--header-height); */
				/* min-height: var(--header-height); */
				/* top: 0; */
				/* position: fixed; */
				width: 100vw;
				/* height: 400px; */
				
				grid-area: header;
				/* z-index: 5; */
				display: grid;
				grid-template-columns: 1fr 3fr 1fr;
			}

		}
.login-form-content {
    margin-top: var(--title-height);
    width: var(--module-contend-with);
    height: calc(var(--module-contend-height) - var(--title-height));

    z-index: 0;
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.login-button {
    position: relative;
    /* width: 100%; */
    /* padding: 5px; */
    /* width: 30px; */
}

.login-button>input[type=submit]:hover {
    background-color: var(--col-select);
}


.input-icon-submit {
    color: var(--col-pri);
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

input[type=submit] {
    background-color: var(--col-sec);
    color: var(--col-pri);
    /* padding: .4em; */
    border-radius: .4em;
    flex: auto;
    /* margin: .25em; */
    max-height: 2.5em;
    min-height: 2.5em;
    ;
    /* height: 2.5em; */
    width: 100%;
}
	/************ MOBILE *********** */

	.menu-container {
		/* background-color: var(--col-sec); */
		background-color: var(--col-gra);
		position: absolute;
		width: 100vw;
		height: var(--menu-size);
		text-decoration: none;
		transition: 0.6s all ease;
		z-index: 3;
	}


	.navbar-container {
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		height: 100%;
	}

	/* ITEM */
	.navbar-item {
		width: 100%;
	}

	.hash-selected{

		background: var(--col-sec);
	}

	.hash-selected, .hash-selected > svg{
		/* background:var(--col-select); */
		color: var(--col-pri);
		transition: 0.3s all ease;
	}


	.navbar-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: var(--menu-size);
		text-decoration: none;
		transition: 0.6s all ease;
	}

	.fa-primary {
		color: var(--col-sec);
		height: 2.5em;
		transition: 0.6 all ease;
		width: 2.5em;
	}

	.link-text {
		display: none;
	}


	/************ DESKTOP ************/
	@media only screen and (min-width:600px) {

		/* menu pricipal de navegacion */
		.menu-container {
			position: fixed;
			grid-area: menu-container;
			
			top: var(--header-height);
			width: var(--menu-size);
			height: var(--module-contend-height);
			transition: all .6s ease-in-out;
			margin-left: auto;
			right: 0;
		}

		.menu-container:hover {
			/* width:15vw; */
			width: 10em;
			/* max-width: 20vw; */
		}

		.menu-container:hover .link-text {
			display: block;
		}

		.navbar-container {
			flex-direction: column;
			justify-content: initial;
		}


		.navbar-item:last-child {
			margin-top: auto;
		}

		.navbar-link {
			flex-direction: row;
			justify-content: initial;
			height: 6em;
		}

		.navbar-link svg {
			margin: 0 .5em;
		}

		.navbar-link:hover{
			background-color:var(--col-hover);
			/* background-color:var(--col-pri); */
		}

		.hash-selected, .hash-selected > .link-text{
			color: var(--col-pri);
		}

	
		.link-text {
			color: var(--col-sec);
		}

		.fa-primary { 
			 max-width: 2.5em;
			 min-width: 2.5em;
		 }


		.btn-url-disable {
			pointer-events: none;
			background: var(--col-ter);
		}


		.btn-selected {
			background: var(--col-select);
		}



	}
/* /*********** MOBILE *********** */

.slider_panel {
	
	
	top:-100vh;
	margin-left: 0;
	z-index: 1;

	width: var(--module-contend-with);
	height: var(--module-contend-height);

	/* overflow: hidden; */

	position: absolute;
	background-color: #000;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}


/*  color slider_panel */
.slider_panel:target {
	top:var(--menu-size);
	background-color: var(--col-sec);
	/* background-color: blueviolet; */
}



/************ DESKTOP ************/
@media only screen and (min-width:600px) {


	.slider_panel {
		/* border: .1vw solid var(--col-gra); */
		grid-area: module-content;
		/* margin: 0; */
		position:unset;
		/* top:unset; */
		top:var(--header-height);
		/* top:10vh; */
		/* min-width: 80vw; */
		margin-left: -100vw;

		border-radius: 0em .4em 0em 0em;
		/* margin-top: 0; */
		/* height: var(--module-contend-height); */
		/* height: 80vh; */
		/* width: 80vw; */
		/* width: var(--module-contend-with); */
		/* height: initial; */
	}
	
	.slider_panel:target {
		/* margin-top: var(--header-height); */
		/* margin-top: var(--header-height);  */
		/* margin-top: 2vh; */
		margin-left: 0;
	}

}
#USER_NAME {
	text-decoration: none;
}

header #USER_NAME a {
	text-transform: capitalize;
}

#user-desktop-messages {
	width: 100%;
	justify-content: center;

}

/* #user-desktop-messages {
	text-transform: capitalize;
} */

#USER_AREA {
	text-transform: uppercase;
	color: var(--col-pri);
	text-align: right;
}

#USER_NAME,
#user-desktop-messages,
#USER_AREA {
	display: flex;
	align-items: center;
}

.err {
	color: var(--col-err);
}

.ok {
	color: var(--col-sec);
}

.off {
	color: var(--col-ter);
}



@keyframes fadeOut {
	from {
		opacity: 1;
		visibility: visible;
	}

	to {
		opacity: .7;
		visibility: hidden;
	}
}



#horizontal-mobile-message,
#user-mobile-messages {
	z-index: 4;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}

#user-mobile-messages {
	background: rgba(255, 255, 255, 0.8);
	visibility: hidden;
	animation: fadeOut var(--time-read-waiting);
}


#horizontal-mobile-message {
	color: var(--col-pri);
	touch-action: none;
	display: none;
	background: var(--col-sec);
}

@media only screen and (orientation:portrait) {
	#horizontal-mobile-message {
		display: none;
	}
}


@media only screen and (orientation:landscape) and (min-width:600px) and (max-width:1024px)   {
	#horizontal-mobile-message {
		display:flex;
	}
}


.off,
.err,
.ok {
	text-align: center;
	padding: 20px;
	width: 80%;
	font-size: 1.3em;
	text-shadow: 0.1em 0.1em 0.1em #ffffff;
}

/************ DESKTOP ************/
@media only screen and (min-width:600px) {

	
	.off,
	.err,
	.ok {
		padding: 0;
		animation: fadeOut var(--time-read-waiting);
		visibility: hidden;
		width: 100%;
	}

	#USER_NAME {
		font-size: calc(.5em + .5vh);
		margin-left: .4rem;
	}


	#USER_AREA {
		font-size: calc(.5em + .5vh);
		margin-left: auto;
		margin-right: .4rem;
	}

	#user-desktop-messages {
		font-size: calc(.4em + .4vh);
	}

	#user-mobile-messages {
		all: initial;
		/* or unset */
	}


}
:root {
	--title-height: 7vh;
	--mag-pri-vw: 4vw;
	--mag-sec-vh: 0.5vh;
	--mag-sec-vw: 0.5vh;
	--mag-sec: .2rem;
	--search-list-container-width: 30vw;
	--crud-buttons-container-height: 9vh;
}

h1 {
	font-size: 1.2rem;
}

.module-title h1 {
	margin-left: calc(.2em);
	text-align: left;
	color: var(--col-pri);
	text-shadow: 1px 1px var(--col-cua);
}

.header-module {
	width: var(--module-contend-with);
	height: var(--title-height);
	padding: 1vh 1vw 1vh 1.2vw;
	display: flex;
	align-items: center;
	position: absolute;

}

.module-title,
.target-module {
	display: inline-block;
}

.module-title {
	max-width: 40%;
}

.target-module {
	margin-left: auto;
	margin-right: 1rem;
}



.crud-buttons-container {
	/* grid-area: crud-buttons-container; */
	/* margin-bottom: var(--mag-pri); */
	padding-bottom: var(--mag-pri);
	/* min-height: 6vh; */
	height: var(--crud-buttons-container-height);
}
.form-inputs-container {
  /* overflow: hidden; */
	/* height: 30vh; */
}




/************ DESKTOP ************/
@media only screen and (min-width:600px) {

	.form-inputs-container {
		border-radius: .4em .4em 0em 0em;
		background: var(--col-pri);
		margin-left: var(--mag-cua);
		/* margin-left: 0; */
	
		/* padding-top: .1vh; */
		padding: var(--mag-sec) var(--mag-sec) 0 var(--mag-sec);
		/* width: calc(var(--module-contend-with) - var(--mag-pri)); */
		
		/* width: calc(var(--module-contend-with) - var(--mag-pri)); */
		width: calc(var(--module-contend-with) - var(--mag-pri));
		
		/* display: flex; */
		/* flex-direction: column; */
		/* height: calc(var(--module-contend-height) - var(--title-height)  - var(--mag-sec-vh)); */
		/* height: calc(var(--module-contend-height) - var(--title-height) - var(--crud-buttons-container-height) - .5vh); */
	}




	h1 {
		font-size: 2rem;
	}

	.title h1 {
		margin-left: calc(.7em);
	}

	/* margen primario */


	.header-module {
		width: calc(var(--module-contend-with) - var(--search-list-container-width));
	}

	.box-edit-content-all-space {
		margin-bottom: var(--mag-sec);
		padding-right: var(--mag-pri);
	}


	.cont-centered-btn {
		margin-top: 0.5em;
		display: flex;
		height: 3em;
		width: 100%;
	}

	.all-space-centered {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		background: transparent;
	}

}
.scroll-container {
    /* margin: 0 auto; */
    margin-top: var(--title-height);

    /* background-color: coral; */
    width: var(--module-contend-with);
    /* width: 80vw; */
    /* height: var(--module-contend-height); */
    height: calc(var(--module-contend-height) - var(--title-height));
    /* height: 80vh; */
    /* max-height: var(--module-contend-height); */
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    /* white-space: nowrap; */
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
}



.box-snap {
    flex: none;
    /* display:-webkit-inline-box; */
    /* display:inline-block; */
    /* display: inline-block; */
    /* height: 100%; */

    width: calc(var(--module-contend-with) - var(--mag-pri-vw));
    /* width: 70vw; */
    /* width: 400px; */
    height: calc(var(--module-contend-height) - var(--title-height));

    margin: 0 var(--mag-sec);
}

.scroll-container .box-snap {
    scroll-snap-align: start;
}

.search-list-container {

    /* height: 40vh; */
    /* height: calc( var(--module-contend-height) - var(--title-height)); */
    /* background-color: rgb(9, 255, 0); */


    /* height: 100%; */
    /* height: 50vh; */
    /* height: calc(var(--module-contend-height) - var(--crud-buttons-container-height)); */
    /* padding-top: 0.5em; */
    /* padding: var(--mag-sec); */
    /* grid-area: aside-list; */
    /* margin-top: var(--mag-pri); */
    /* border-radius: 0; */
    /* margin-left: 0; */
    /* margin-right: var(--mag-cua); */
    /* display: flex; */
    /* flex-direction: column; */

}

.edition-container {
    /* float: left; */
    /* height: var(--module-contend-height); */
    /* height: 50vh; */
    /* background-color: rgb(0, 255, 242); */
}


/************ DESKTOP ************/
@media only screen and (min-width:600px) {

    .scroll-container {
        /* display: flex; */
        flex-direction: row-reverse;
        overflow: hidden;
        margin-top: 0;
        height: var(--module-contend-height);
    }

    .box-snap {
        width: unset;
        margin: 0;
    }

    .search-list-container {

        background: var(--col-pri);


        width: calc(var(--search-list-container-width) - var(--mag-sec-vw));
        height: calc(var(--module-contend-height) - var(--mag-sec-vh) - var(--mag-sec-vh));
        border-radius: .4em;

        margin-top: var(--mag-sec-vh);
        margin-right: var(--mag-sec-vw);
        margin-bottom: var(--mag-sec-vh);

    }

    .edition-container {
        margin-top: var(--title-height);
        /* height: calc(var(--module-contend-height) - var(--title-height) - var(--mag-sec-vh)); */
        width: calc(var(--module-contend-with) - var(--search-list-container-width) - var(--mag-sec-vw));

        /* margin-bottom: var(--mag-sec-vh); */
        /* margin-bottom: 5vh; */
        margin-right: var(--mag-sec-vw);
        /* margin-right: var(--mag-sec); */
        padding-left: var(--mag-sec-vw);
        
    }

}

.form-distributed-fields {
	flex-grow: 1;
	overflow: auto;
	/* for Firefox */
	min-height: 0;
	display: inline-flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: row;
	
	scrollbar-width: thin;
	
	border-radius: .4em;

	/* margin: var(--mag-sec); */
	/* margin: var(--mag-sec) var(--mag-sec) 0 var(--mag-sec); */

	height: calc(var(--module-contend-height) - var(--title-height) - var(--crud-buttons-container-height));

   /* height: 50vh; */
}

.form-distributed-fields::-webkit-scrollbar {
	width: .2em;
	background: none;
	border-radius: .1em;		
}

.form-distributed-fields::-webkit-scrollbar-track {
	margin-top: 50px;
	margin-bottom: 50px;
}

.form-distributed-fields::-webkit-scrollbar-thumb {
	background: var(--col-gra);
	border-radius: .1em;
}

/************ DESKTOP ************/
@media only screen and (min-width:600px) {

	.form-distributed-fields {
		/* padding: 0 .3em var(--mag-sec) var(--mag-sec); */
		height: calc(var(--module-contend-height) - var(--title-height) - var(--crud-buttons-container-height) - 1.1vh);
	
		width: 100%;
		/* width: calc(var(--module-contend-with) - var(--mag-pri)); */
/* padding-right: var(--mag-sec); */
/* margin-right:var(--mag-sec); ; */
		/* width: calc(var(--module-contend-with) - var(--mag-pri)); */
		overflow-x: hidden;

		background: var(--col-ter);
	}
}
@keyframes autofill {
    to {
        background: transparent;
    }
}

span.right-age,
select[name*="id"],
input[type=number],
input[type=text],
input[type=time],
input[type=password],
input[type=search],
textarea {
    font-weight: bold;
    font-size: 1.1rem;
    border: 0;
    outline: 0;
    background: none;
    width: auto;
}

input[type=text]:focus,input[type=number]:focus,input[type=password]:focus {
    border-bottom: 1px solid var(--col-select);
}

textarea {
    resize: none;
    overflow: hidden;
}

/* textarea::-webkit-scrollbar { */
    /* width: .2em; */
    /* background: none; */
    /* border-radius: .1em; */
/* } */

/* textarea::-webkit-scrollbar-track { */
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
/* } */

/* textarea::-webkit-scrollbar-thumb { */
    /* background: var(--col-sec); */
    /* border-radius: .1em; */
/* } */

.disable,
input:disabled,
input[type=text]:disabled {
    background-color: var(--col-gra);
    /* background-color: var(--col-ter); */
    pointer-events: none;
    /*  border-color: var(--col-gra); */
}

input {
    background: transparent;
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

input:active {
    background: none;
}

input::placeholder {
    color: var(--col-ter);
    font-size: .9em;
    font-weight: normal;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/*  ::-webkit-file-upload-button, */


select {
    cursor: pointer;
    font-weight: bold;
    /* font-size: 101%; */
    font-size: 1.1rem;
    border: 0;
    outline: 0;
    background: none;
    border-radius: 0em .4em .4em 0em;
    width: 100%;
    /* flex: auto; */
    margin-top: .25em;
    margin-bottom: .25em;
}

select:focus>option:checked {
    color: var(--col-pri) !important;
    background: var(--col-sec) !important;
}

select::-webkit-scrollbar {
    display: none;
}

/* select::-moz-scrollbar {display: none;} */
/* select::-o-scrollbar {	display: none;	} */
/* select::-google-ms-scrollbar {display: none;} */
/* select::-khtml-scrollbar {display: none;} */

/* remover text decoracion */
input[type=text] {
    /* width: auto; */
    /* display: none; */
    position: absolute;
}


input[type=date] {
    font-weight: bold;
    width: 100%;
    /* font-size: 101%; */
    font-size: 1.1rem;

    border: none;
}

input[type=time]::after {
    content: ' Horas';
    /* font-size: 80%; */
    font-size: 1rem;
}

.age-number input {
    /* margin-top: 10px; */
    /* top: 10px; */
    width: 8%;
}

.age-number:after,
.age-date::before {
    color: var(--col-ter);
    /* font-size: 70%; */
    font-size: .8rem;
}

label.age-number:after {
    content: 'Años';
}

.age-date input {
    width: 140px;
    /* width: 60%; */

    float: right;
}

.age-date {
    float: right;
}

.age-date::before {
    /* padding: 0 5px 0 0; */
    vertical-align: -20%;
    
    content: 'Fecha Nacimiento:';
    margin-right: 7px;
}



button[name*="btn"] {
    /* background-position: center; */
    /* background-size: 30px; */

    /* background-repeat: no-repeat; */
    background-color: var(--col-sec);
    /* color: var(--col-pri); */
    /* padding: .4rem; */
    /* background-size: 30%; */
    flex: auto;
    /* margin: .25em; */
    /* border: 1px solid var(--col-gra); */
    /* color:var(--col-pri) */
}

button[name*="btn"]:disabled {
    background-color: var(--col-ter);
    pointer-events: none;
    /*  border-color: var(--col-gra); */
}

button[name*="btn"]:hover {
    background-color: var(--col-select);
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
}

.del {
    color: var(--col-cua);
    font-size: 1.3em;
    text-shadow: 0.1em 0.1em 0.1em #ffffff;
}


.contebuton {
    display: flex;
    height: 100%;

    justify-content: space-between;

    /* padding: var(--mag-sec); */

}

/* svg {
    fill: currentColor;
} */

/* .btn-crud-svg {
    color: var(--col-pri);
} */



.form-btn {
    color: var(--col-pri);

    min-height: 2.5em;
    max-height: 2.5em;
    max-width: 2.5em;
    min-width: 2.5em;
}




/************ DESKTOP ************/
@media only screen and (min-width:600px) {

    button[name*="btn"] {

        margin: var(--mag-sec);
        /* margin: .25em; */
        border-radius: .4em;
        /* padding: .4rem; */
        background-size: 15%;
        /* border: none; */
    }


    .contebuton {
        background: var(--col-pri);
        /* margin-left: var(--mag-cua); */
        margin-left: var(--mag-cua);
        border-radius: 0em 0em .4em .4em;
    }

}
fieldset {
    background: var(--col-pri);
    border-color: var(--col-gra);
    border-radius: .4em;
    /* width: auto; */
    min-width: 49%;
    min-height: 7em;
    flex: auto;
    margin: .2em;
    margin-bottom: .5em;

    /* display: flex; */
    /* align-items: center; */
    padding: 1em 1em .5em 1em;
}

.max-height-100 {
    max-height: 5em;
}

.min-width-100 {
    width: 100%;
    min-width: 98%;
}

fieldset input {
    margin-top: var(--mag-sec);
}

fieldset:focus-within,
fieldset:focus-visible {
    box-shadow: 0px 0px 3px 1px var(--col-select) inset;
}


fieldset:disabled {
    background-color: var(--col-gra);
    pointer-events: none;
}

fieldset:hover {
    /* border: 2px solid var(--col-sec); */
    /* box-shadow:0px 0px 3px 1px var(--col-sec) inset; */
    box-shadow: 0px 0px 3px 1px var(--col-select) inset;
}

legend {
    font-size: .8rem;
    background: var(--col-sec);
    border-color: var(--col-pri);
    border-radius: .4em;
    padding: 0em .5em .3em .5em;
    margin-bottom: .3em;
}

legend label {
    color: var(--col-pri);
    text-shadow: 1px 1px var(--col-cua);
}

label {
    cursor: pointer;
}

legend:hover {
    background-color: var(--col-select);
}

/************ DESKTOP ************/
@media only screen and (min-width:600px) {

    fieldset {
        
        min-height: 5em;
        padding: .7em 1em 0em 1em;
    }

}
.block-label {
    display: inline-flex;
    align-items: center;
    margin:var(--mag-sec);
}

:checked+span {
    font-weight: bold;
    /* font-size: 101%; */
    font-size: 1.1rem;
    color: var(--col-cua);
    transition: 0.3s all ease;
}

label span {
    /* font-size: 90%; */
    font-size: 1rem;
    color: var(--col-ter);
}

label span:hover {
    font-weight: bold;
    transition: 0.3s all ease;
    color: var(--col-cua);
}

input[type=checkbox]:focus {
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

input[type=checkbox],input[type=radio] {
    margin: .3em;
    background-color: var(--col-gra);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: relative;
}

input[type=checkbox]{
    border-radius: 2px;

}
input[type=radio]{
    border-radius: 8.5px;
}

input[type=checkbox]:checked,input[type=radio]:checked {
    background-color: var(--col-sec);
    background: var(--col-sec) url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}
.container-list-only,
.container-list-search {
	display: flex;
	border-radius: .4em;
	padding: .2rem;
	overflow: hidden;
}

.container-list-search {
	flex-direction: column;
	height: 90%;
}

.container-list-only {
	align-content: flex-start;
	overflow: auto;
	height: calc(var(--module-contend-height) - var(--mag-sec-vh) - var(--mag-sec-vh) - var(--mag-sec)*2);
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	padding: 5px;
	max-width: 100%;
	overflow-x: hidden;
}

.col-img {
	min-height: 150px;
	min-width: 200px;
	margin-bottom: 30px;
	position: relative;
}

.img-list {
	width: 100%;
	height: 100%;
	/* border: 2px solid red; */

}

.checkbox-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.checkbox-container input[type="checkbox"]:checked + .img-list {
	border: 2px solid red;
  }



.checkbox-container label {
	display: block;
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 1300px) {
	.col-img {
		min-height: 330px;
		min-width: 100%;
	}
}


.lista {
	flex-grow: 1;
	overflow: auto;
	min-height: 0;
	padding: .2em;
	list-style-type: none;
	scrollbar-width: thin;

	overflow-x: hidden;
	/* scroll-behavior: smooth; */
	/* margin-bottom: var(--mag-sec); */
}

.hiden {
	display: none;
}

::-webkit-scrollbar {
	width: .2em;
	background: none;
	border-radius: .1em;
}

::-webkit-scrollbar-thumb {
	background: var(--col-gra);
	border-radius: .1em;
}

::-webkit-scrollbar-track {
	margin-top: 50px;
	margin-bottom: 50px;
}

.lista .target-li a {
	pointer-events: none;


	font-size: 1.4em;
	/* desbordamiento de texto */
	text-overflow: ellipsis;
	text-transform: capitalize;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

.lista .target-li {
	/* color: var(--col-pri); */
	position: relative;
	display: inline-flex;
	min-height: 60px;
	max-height: 60px;
	/* width: 100%; */
	padding: .3em;
	/* margin: 0em 0em 1.2em 0em; */
	margin: 0em 0em 1.2em 0em;
	border-radius: .3em .3em .3em .3em;
	border: 2px solid var(--col-gra);
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: 0.3s all ease;
}

.lista .target-li:hover {
	border: 2px solid var(--col-pri);
	background-color: var(--col-select);
	color: var(--col-pri);
	margin-left: 5px;
	font-weight: bold;
}


.target-li-on {
	background: var(--col-select);
}

.target-li-off {
	background: var(--col-pri);
}

.target-list-see {
	display: inline;
}

/************ DESKTOP ************/
@media only screen and (min-width:600px) {

	.container-list-search {
		margin: var(--mag-sec) var(--mag-sec) 0 var(--mag-sec);
		background: var(--col-ter);

	}

	.container-list-only {
		background: var(--col-ter);
		margin: var(--mag-sec);
		/* padding-bottom: 10px; */
	}

	.lista .target-li a {
		font-size: 1em;
	}

	.lista .target-li:hover {
		border: 2px solid var(--col-sec);
		background-color: var(--col-hover);
	}



}
.search-container {
	display: flex;

	border-radius: 0em 0em .4em .4em;
	height: calc(var(--crud-buttons-container-height) - var(--mag-sec-vh));
}

.search-container label {
	display: flex;
	border-radius: .4em 0em 0em .4em;
	background-color: var(--col-sec);
	width: 15%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	align-items: center;
	justify-content: center;

}

input[type=search],
.search-container label {
	flex: auto;
	margin-top: .25em;
}

.search-container label:hover {
	background-color: var(--col-select);
}

.disable-search {
	pointer-events: none;
}

.disable-search label {
	background-color: var(--col-ter);
}

.search-container input[type=search],
.footer-search-error {
	font-weight: bold;
	font-size: 1.5em;
	border: 0;
	outline: 0;
	width: 100%;
	border-radius: 0em .4em .4em 0em;
	padding-left: 10px;
	flex: auto;
	margin-top: .25em;
	margin-right: .25em;
}

.search-container input[type=search] {
	background: var(--col-pri);
}

.footer-search-error {
	border-width: 3px;
	border-style: solid;
	border-color: var(--col-err);
}


.footer-search:focus,
.footer-search-error:focus {
	box-shadow: 0px 0px 3px 1px var(--col-select) inset;
}


/*********** DESKTOP ************/
@media only screen and (min-width:600px) {

	.search-container {
		background: #ffffff;

	}

	.search-container label {
		margin-left: .25em;
	}

	.search-container input[type=search] {
		background: var(--col-gra);
	}

	.search-container input[type=search],
	.footer-search-error {
		font-size: 1em;
	}
}
.description-target {
    margin-bottom: -55px;
    right: 5px;
    position: absolute;
    background: var(--col-gra);
    color: var(--col-cua);
    font-size: 80%;
    text-transform: capitalize;
    border-radius: .4em;
    padding: .3em;
}
@font-face {
    font-family: Arvo;
    src: url(font.ttf);
}
#incompatible-message {
	z-index: 4;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: none; /* Ocultar el mensaje por defecto */
    background: var(--col-sec);
}

#incompatible-message h4 {
	color: var(--col-pri);
	/* color: var(--col-hov); */
}

/* @media only screen and (max-width: 1024px) and (orientation: landscape) {
	#incompatible-message {
		display: flex; /* Mostrar el mensaje solo en dispositivos móviles en modo horizontal */
        /* background: var(--col-sec); */
    /* } */
/* } */ 

/* @media only screen and (orientation: portrait) {
	#incompatible-message {
		display: none; /* Ocultar el mensaje en dispositivos móviles en modo vertical */
	/* } */
/* }   */
.search-style{background:yellow};